##Laboratorio 2
#cumplir con cada uno de los 9 retos en sus grupos de trabajo
#y subir el Colab a el repositorio grupal,
for: 28/09/2022 12:59


##No se pueden usar funciones() predefinidas de python, que ejecuten el algoritmo, sin ustedes entender antes la manera de resolverlo con codigo.

#**Grupo 3**

#Integrantes:

Andres Solano

Mary Ortiz

Jesus Rios

Juan Sebastian Manrique

##1. Define a procedure histogram () that takes a list of whole numbers and prints a histogram on the screen. Example: procedure ([4, 9, 7]) should print the following:

![image.png]()

In [ ]:
def histogram (lista):
  for e in lista:
    a=""
  while e>0:
   a+="*"
   e=e-1
  print(a)

In [ ]:
l_1=int(input())

histogram([l_1])

2
**

#2. Write a longer_long () function that takes a list of words and returns the longest.

In [ ]:
def longer_long(lista):
    mas_larga = []
  
    for p in lista:
       mas_larga.append((len(p), p))

    return mas_larga[-1][1]
   
lista = ['hola', 'ernesto', 'perro', 'tractomula']

print(longer_long(lista))

tractomula

#3. Write a program that tells the user to enter a string. The program has to evaluate the string and say how many capital letters it has.

In [ ]:
def filt_words(lista, n):
  #here, your code
  n=0
  for l in lista :
    if l != l.lower() :
      n += 1
  return n

In [ ]:
ej = str(input("Ingrese una palabra:"))

print("La cantidad de letras mayúsculas son:")
print(filt_words(ej,ej))

Ingrese una palabra:Hola
La cantidad de letras mayúsculas son:
1

#4.Build a small program that converts binary numbers to integers. Example:
#![image.png]()

In [ ]:
def aDecimal(numeroBin):
  decimal = 0
  #here, your code
 
  for posicion, digito_string in enumerate(numeroBin[::-1]):
    decimal += int(digito_string) * 2 ** posicion
  
  return decimal 

print(aDecimal('101'))
print(aDecimal('100011'))
print(aDecimal('101011100011101'))

5
35
22301

In [ ]:
char_ascii = input("Presione un caracter:")
dec_num = ord(char_ascii)
hex_num = hex(dec_num)
print ( char_ascii , "\t", dec_num, "\t", hex_num , "\t", bin(dec_num) );

Presione un caracter:A
A 	 65 	 0x41 	 0b1000001

#5.Create a function count_vols (), which receives a word and counts how many letters "a" it has, how many letters "e" it has, and so on until all the vowels are completed.
You can make the user who chooses the word.
only in lower letters

In [ ]:
def contar_vocales(cadena):
    #here, your code
	contador = 0
	for letra in cadena:
		if letra.lower() in "aeiou":
			contador += 1
	return contador

cadena = "Hola, vamos a ver cuantas vocales hay en este parrafo"
cantidad = contar_vocales(cadena)
print(f"En la cadena '{cadena}'' hay {cantidad} vocales")

En la cadena 'Hola, vamos a ver cuantas vocales hay en este parrafo'' hay 19 vocales

In [ ]:
def contar_vocales(cadena):

  contador=0

  for i in cadena:
   contador +=1

cadena= 'hola mundo como van'
print(len(cadena))

19

In [ ]:
def contar_vocales(cadena):
 cadena = "banana"
 contador = 0
 for carac in cadena:
    if carac == 'a':
       contador += 1
 print(contador)

#6.Write a function is leap () that determines if a given year is a leap year 
A leap year is divisible by 4, but not by 100. It is also divisible by 400

In [ ]:
#here, your code
  year=0
def es_bisiesto(year): #Año que queremos comprobar
  if year %4 !=0:
    print("No es bisiesto")
  elif year %4 ==0:
    print("Es bisiesto")
  elif year %4 == 0 and year %100 ==0 and year %400!=0:
    print("No es bisiesto")
  elif year %4==0 and year %100==0 and year %400==0:
    print("Es bisiesto")

#7. Write a program that asks for two words and tells whether or not they rhyme. If the last three letters match, you have to say that they rhyme. If only the last two coincide, he has to say that they rhyme a bit and if not, that they do not rhyme.
Example:
![image.png]()

In [ ]:
def rim(uno,dos):
  #here, your code
  #can return "Not rhyme", "Not rhyme" or "rhyme a little"
def rim(pal1,pal2):
  pal1 = input("Escriba la primer palabra: ")
  pal2 = input("Escriba la segunda palabra: ")

  ult_tres_pal1 = pal1[-3:] 
  ult_tres_pal2 = pal2[-3:]
  ult_dos_pal1 = pal1[-2:]
  ult_dos_pal2 = pal2[-2:]

  if ult_tres_pal1 == ult_tres_pal2:
    print("Las palabras riman")
  elif ult_dos_pal1 == ult_dos_pal2:
    print("Las palabras riman un poco")
  else:
    print("Las palabras no riman")

#8.It has a program that asks the user for a dollar amount, an interest rate, and a number of years. It shows on the screen how much the initial capital will have been converted after those years if the interest rate entered is applied each year.
Remember that a capital C dollars at an interest of x percent for n years becomes C * (1 + x / 100) raised to n (years). Test the program knowing that an amount of $ 10,000 at 4.5% annual interest becomes $ 24,117.14 after 20 years.

In [ ]:
def calculo (dinero, inte, cant_anos):
 #here, your code
 gan=dinero*(((1+inte)/100)**cant_anos)
 din_t=gan*100
 return din_t

In [ ]:
D=float(input("Ingrese el valor del capital: "))
In=float(input("Ingrese el valor del interes: "))
años=int(input("Ingrese el valor de los años en los que su dinero ganara interes: "))

print(calculo(D,In,años))
print("Ese fue el dinero ganado en dolares")

Ingrese el valor del capital: 10000
Ingrese el valor del interes: 4524117.14
Ingrese el valor de los años en los que su dinero ganara interes: 20
1.2902644927577118e+99
Ese fue el dinero ganado en dolares

##9. Create an algorithm that ask for one number the (0 to 100), the program have to create a multiplication table from 0 to the selected number.
example:
your number from 0 to 100: 3

 0 x 3 = 0

 1 x 3 = 3

 2 x 3 = 6

 3 x 3 = 9

In [ ]:
def multiplication_Number(Num):
  print("El resultado de la tabla del",Num,"multiplicado desde 0 hasta",Num,"es:")
  if (Num<0 or Num>100) :
    while Num<0 or Num>100 :
      Num=int(input("Ingrese nuevamente el Número:"))  
    if Num>0 and Num<100:
      print("El resultado de la tabla del",Num,"multiplicado desde 0 hasta",Num,"es:")
      #Suma uno más para aumentar el rango y multiplicar Num*Num.
      f=Num+1
      for i in range(0,f):
        #Realiza multiplicación entre los número de 0 a f.
        Res=i*Num
        print(i,"X",Num,"=",Res,)    
  else:
    f=Num+1
    for i in range(0,f):
      Res=i*Num
      print(i,"X",Num,"=",Res,)
  return Num

In [ ]:
M_1=int(input("Ingrese el número que quiere multiplicar"))

print(multiplication_Number(M_1))

Ingrese el número que quiere multiplicar5
El resultado de la tabla del 5 multiplicado desde 0 hasta 5 es:
0 X 5 = 0
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
5